.nayana{
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}
.vijay{
  background-color: aquamarine;
}
.vs{
  background-color: rgb(105, 105, 212);
}
.alia{
  background-color: rgb(210, 114, 114);
}
.radika{
  background-color:blueviolet;
}
#rajini{
  background-color: rgb(64, 145, 118);
}